<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>chaunLauncher | login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="theme-color" content="#22252a">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
    <div class="login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <% if(hasPass) { %>
                                <div class="content">
                                    <div class="logo">
                                        <h1>Login</h1>
                                    </div>
                                    <p>Enter your password to manage your launcher</p>
                                </div>
                                <% } else { %>
                                    <div class="content">
                                        <div class="logo">
                                            <h1>Register</h1>
                                        </div>
                                        <p>Enter a new password to manage your launcher</p>
                                    </div>



                                    <% } %>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <% if(hasPass) { %>
                                    <form method="post" action="/login" class="form-validate mb-4">

                                        <input type="hidden" name="username" value="user" />
                                        <div class="form-group">
                                            <input id="login-password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
                                            <label for="login-password" class="label-material">Password</label>
                                        </div>
                                        <button type="submit" value="Login" class="btn btn-primary">Login</button>
                                        <% } else { %>
                                            <form method="post" action="/register" class="form-validate mb-4">

                                                <div class="form-group">
                                                    <input id="login-password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
                                                    <label for="login-password" class="label-material">Password</label>
                                                </div>
                                                <div class="form-group">
                                                    <input id="login-password" type="password" name="passwordrepeat" required data-msg="Please re-enter your password" class="input-material">
                                                    <label for="login-password" class="label-material">Confirm password</label>
                                                </div>
                                                <button type="submit" value="Login" class="btn btn-primary">Register</button>

                                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js">
    </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js">
    </script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="js/front.js"></script>



    <script src="https://d19m59y37dris4.cloudfront.net/dark-admin-premium/1-4-5/vendor/messenger-hubspot/build/js/messenger.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dark-admin-premium/1-4-5/vendor/messenger-hubspot/build/js/messenger-theme-flat.js"></script>
    <%   if (message != "") { %>
        <script>
            Messenger.options = {
                extraClasses: "messenger-fixed messenger-on-bottom  messenger-on-right",
                theme: "flat"
            }

            Messenger().post({
                message: "<%= message %>",
                type: "<%= messageType %>"
            })
        </script>
        <% }%>


</body>

</html>